
.card{
    box-shadow: 0 4px 8px 0 black;
    width:30%;
    padding-left: 10px;
    padding-right: 10px;
    transition:0.5s;
    padding-bottom:10px;
}
.user{
    margin-top:0;
    font-size:40px;
    font-weight:bold ;
    margin-bottom:0;
}
.user_designation{
    font-size:30px;
    font-style:italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    color:aquamarine;
}
table, th, td {
    border : 1px solid lavender;
}